* {
    margin: 0;
    padding: 0;
    font-family: 'Liberation', sans-serif;
}

:root {
    --couleur-jaune: rgb(234, 159, 5);
    --couleur-noir: rgb(41, 41, 41);
    --couleur-lettre: rgb(55, 55, 55);
    --couleur-fond: rgb(243, 243, 243);
}

@font-face {
    font-family: 'Liberationsans';
    src: url('./fonts/LiberationSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberationsans';
    src: url('./fonts/LiberationSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--couleur-noir);
}

header {
    background-image: url(./images/background.jpg);

}

h1,
h2 {
    font-weight: normal;
    color: var(--couleur-lettre);
    font-size: 1.4rem;
}

.jaune {
    color: var(--couleur-jaune);
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 60%;
    margin: 5%;
}

h2 {
    margin-left: 5%;
    margin-top: 5%;
}

.ul1 {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 5%;
    padding-bottom: 5%;

}

.a1 {
    text-decoration: none;
    color: var(--couleur-lettre);
    font-size: 1rem;
    font-weight: normal;
}

.img2 {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

.img3 {
    width: 70%;
    position: relative;
}

main {
    background-color: var(--couleur-fond);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 5% 0 5%;
    padding-bottom: 5rem;
}

.p1 {
    color: var(--couleur-jaune);
    background-color: var(--couleur-noir);
    border-radius: 5px;
    max-width: 3.3rem;
    text-align: center;
    padding: 2%;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    right:1.5rem;
    top:0.7rem

    

   
}
.absolute{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section1 {
    margin-top: 5%;
}

h3 {
    font-weight: normal;
    font-size: 0.8rem;
    position: absolute;
    bottom: -2rem;
    text-align: center;
    padding-block: 15%;
}

.div2 {
    display: flex;
    justify-content: center;
    gap: 5%;
}

input {
    background-color: var(--couleur-lettre);
    color: var(--couleur-fond);
    font-weight: normal;
    font-size: 0.8rem;
    padding: 1%;
    width: 35%;
}

.p2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.line-throught {
    text-decoration: line-through;
}

.ul2 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 1rem;
    width: 75%;
    padding: 1rem;
    position: relative;
    margin: auto;
    bottom: 1.3rem;
    list-style-type: none;

}

footer {
    background-color: var(--couleur-lettre);
    text-align: center;
    font-weight: normal;
    color: var(--couleur-fond);
    font-size: 0.6rem;
}

.a2 {
    text-decoration: none;
    color: var(--couleur-lettre);
    font-size: 0.6rem;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.p3 {
    font-size: 0.65rem;
    text-align: center;
    color: white;
}

.div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;

}

.img4 {
    margin-bottom: 5%;
    margin-top: 5%;
}

.div4 {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-block: 5%;
}

hr{
    width:90%;
   margin: auto;
}
.pfooter{
    padding-bottom: 1rem;
}

@media (min-width: 1024px) {
    .img2 {
        height: inherit;
    }
    .logo{
        width: 20rem;
    }
    header{
        padding-bottom: 1%;
    }
    h2{
        display: flex;
        justify-content: end;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
    h1{
        font-size: 1.5rem;
    }
    .a1{
        font-size: 1rem;
    }
    .div6{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .ul1{
        padding-bottom: 0%;
        gap: 2rem;
    }
    main{
        width: 70%;
        margin: auto;
        margin-top: 1%;
    }
    .div7{
        display: grid; 
        grid-template-columns: repeat(2, 1fr [col-start]); 
        grid-template-rows: repeat(2, [col-start]);
        
    }
    .section1{
        margin-inline: 5rem;
    }
    .img3{
        width: 100%;
    }
    .p1{
        position: absolute;
        right: -2rem;
    }
    hr{
        width: 50%;
    }
    .section2{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    .div3{
        max-width: 10rem;
        margin-inline: 1%;
    }
    .div4{
        margin: 1.2%;
        gap:4%
    }
    .pfooter{
        font-size: 0.8rem;
    }
    .ul2{
        width: 30%;
    }
    .div8{
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }
}